/* Generales*/
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: #E5E7E9;
    font-family: 'Lilita One', sans-serif;
}

// Variables Custom

%custom-color {
    background-color:#e7b880;
}

/* Menu Navbar */

.custom-bg-nav {
    @extend %custom-color;
}
    
.custom-margin {
    text-decoration: none;
    color: #000000;
    margin: 0 0.5rem;
}
  

/* Containter de bootstrap */
.custom-container {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-img-fluid {
    border-radius: 50px;
    overflow: hidden;
}

/* Containar de Banner */

.custom-banner{
    background-color: #50e670;
    border-radius: 50px;
    overflow: hidden;
    border: none;
}

/* Grid y Flexbox para Selección de Ramens */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #0056b3;
}

/* Estilando Footer */

.custom-fot-col {
    background-color: #e8d6bf !important;
    color: #000000 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-fot-col-bold{
    background-color: #e7b880 !important;
}

/* Responsive definido para Tablet y Mobile - Desktop First */
@media (max-width: 961px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}