/* Generales*/
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Import Bootstrap y Partiasl
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../scss/partials/footer";
@import "../scss/partials/responsive";

body{
    background-color: #E5E7E9;
    font-family: 'Lilita One', sans-serif;
}

// Variables Custom

%custom-color {
    background-color:#e7b880;
}

/* Menu Navbar */

.custom-bg-nav {
    @extend %custom-color;
}
    
.custom-margin {
    text-decoration: none;
    color: #000000;
    margin: 0 0.5rem;
}

/* Parrafos */

p {
    margin: 15px;
}


/* Mapa Dirección */

.mapa-ramen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

/* Containter de bootstrap */
.custom-container {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-img-fluid {
    border-radius: 50px;
    overflow: hidden;
}

/* Containar de Banner */

.custom-banner{
    background-color: #50e670;
    border-radius: 50px;
    overflow: hidden;
    border: none;
}

/* Grid y Flexbox para Selección de Ramens */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.product-item img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}

.product-item button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #0056b3;
}


/* Botones */

.bt-form{
    margin: 15px;
}