/* Estilando Footer */

.custom-fot-col {
    background-color: #e8d6bf !important;
    color: #000000 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-fot-col-bold{
    background-color: #e7b880 !important;
}